.board {
  --grid-size: 4;
  /* Start with 4x4 */
  display: grid;
  flex-grow: 1;
  flex-basis: 0;
  grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
  direction: ltr;
}

.square {
  border: 1px solid var(--main-color);
  display: grid;
  place-items: center;
  font-size: 2rem;
}
